* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
  font-size: 16px;
}
.App {
  width: 960px;
  margin: 0 auto;
}
header {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f2535;
  color: white;
}

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 150px;
}

#content-header {
  width: 300px;
}
#content-header h1 {
  font-size: 3em;
  margin-bottom: 20px;
}
#content-header #awsome {
  margin: 50px 0;
  width: 120px;
  background-color: white;
  padding: 20px;
  color: #1f2535;
  font-weight: 700;
  text-align: center;
}
#main-content {
  padding: 80px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content h3 {
  font-size: 1.5em;
}
